* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  background-color: #0f243d;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  font-style: regular;
}

.status-bar-container {
  width: 98%;
  /* height: 5%; */
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
}

.bluetooth-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .status-bar-container {
    flex-direction: column;
  }
  .status-bar-container div {
    display: flex;
    flex-direction: row;
  }
}

.bluetoothImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.bluetoothImage:active {
  transform: translateY(1px);
}

.bluetoothImage:hover {
  opacity: 0.8;
  background-color: rgba(104, 107, 109, 0.169);
}

.bluetoothImage img {
  height: 40px;
  width: 40px;
}

.info-container{
  display: flex;
  justify-content: center;
  text-align: center;
  border: red 2 px solid;
}

.status-text {
  font-weight: 600;
  font-size: large;
  color: rgb(0, 171, 200);
  margin: 8px;
  text-align: center;
}

.error-text {
  color: rgb(255, 208, 0);
  font-size: larger;
  margin: 12px;
  text-align: right;
  display: none;
}

.container {
  width: 98%;
  height: 93%;

  border: 1px solid grey;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.waveforms-container {
  width: 80%;
  height: 100%;
  background-color: #050c14;
  border-right: 1px solid grey;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 768px) {
  .waveforms-container {
    width: 70%;
  }
}

.waveform-box {
  width: 100%;
  height: 100%;

  border-top: 1px solid grey;

  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: stretch;
}

.waveform-title {
  float: left;
  margin: 5px;

  font-size: 24px;
  color: red;
}

.waveform {
  width: 100%;
  height: 80%;
  margin-bottom: 5px;
}

.parameters-container {
  width: 20%;
  height: 100%;

  border-right: 1px solid grey;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 768px) {
  .parameters-container {
    width: 30%;
    
  }
}

.parameter-box {
  width: 100%;
  height: 100%;
  border-top: 1px solid grey;
  display: flex;
  position: relative;
  justify-content: stretch;
}
@media (max-width: 768px) {
  .parameter-box {
  overflow: hidden;
  }
}

.parameter-title {
  float: left;
  margin: 5px;
  display: block;
  font-size: large;
}
@media (max-width: 768px) {
  .parameter-title {
    display: none;
  }
}

.parameter-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
  font-size: 36px;
}
@media (max-width: 768px) {
  .parameter-value {
    transform: translate(-60%, -70%);
    font-size: 110%;
  }
}

.parameter-subox {
  width: 50%;
  height: 100%;

  display: flex;
  position: relative;
  justify-content: stretch;
}

.settings-container {
  width: 5%;
  height: 100%;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .settings-container{
    display: none;
  }
}

.item-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
  /* background: linear-gradient(#ffffff, #ffffff); Definir un gradiente blanco */
  transition: background-position 30s linear; /* Transición de posición durante 30 segundos */
  background-size: 100% 200%; /* Tamaño del gradiente: 100% de ancho, 200% de alto */
  background-position: 0% 0%; /* Iniciar el gradiente desde la parte superior */
}

.item-settings-container:active {
  transform: translateY(1px);
}

.item-settings-container:hover {
  opacity: 0.8;
  background-color: rgba(104, 107, 109, 0.169);
}
.setting-button-xs {
  display: none;
}
@media (max-width: 768px) {
  .setting-button-xs {
    cursor: pointer;
    display: block;
    box-sizing: content-box;
    padding: 4px 6px;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
}

.setting-button-xs:active {
  transform: scale(0.9);
  background-color : rgb(63, 251, 238,80%);
}

.setting-button {
  width: 60%;
}

.item-settings-container h5 {
  margin-top: 5px;
}
.ecg-color {
  color: greenyellow;
}

.nibp-color {
  color: white;
}

.spo2-color {
  color: rgb(63, 251, 238);
}

.resp-color {
  color: yellow;
}

.temperature-color {
  color: white;
}

.text-Spo2 {
  color: white;
}
